@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.specialist-avatar {
    width: 140px;
}

.form-card {
    @apply px-4 py-3 mb-8 bg-white rounded-lg shadow-md;
}

.border-brand-color {
    border-color: #9a4b97;
}

.border-brand-color-top {
    border-top-color: #9a4b97;
}

.border-brand-color-bottom {
    border-bottom-color: #9a4b97;
}

.border-brand-color-right {
    border-right-color: #9a4b97;
}

.border-brand-color-left {
    border-left-color: #9a4b97;
}

.text-brand-color {
    color: #9a4b97;
}

.bg-brand-color {
    background-color: #9a4b97;
}
input:checked ~ .toggle__dot {
    transform: translateX(100%);
    background-color: #9a4b97;
}

.border-brand-color:focus, .border-brand-color:hover, .border-brand-color:active {
    border-color: #82358c;
}

.border-brand-color-top:focus, .border-brand-color-top:hover, .border-brand-color-top:active{
    border-top-color: #82358c;
}

.border-brand-color-bottom:focus, .border-brand-color-bottom:hover, .border-brand-color-bottom:active{
    border-bottom-color: #82358c;
}

.border-brand-color-right:focus, .border-brand-color-right:hover, .border-brand-color-right:active  {
    border-right-color: #82358c;
}

.border-brand-color-left:focus, .border-brand-color-left:hover, .border-brand-color-left:active {
    border-left-color: #82358c;
}

.text-brand-color:focus, .text-brand-color:hover, .text-brand-color:active {
    color: #82358c;
}

.bg-brand-color:focus, .bg-brand-color:hover, .bg-brand-color:active {
    background-color: #82358c;
}

.toggle__dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
}

.alert-toast {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Toast close animation*/
.alert-toast input:checked ~ * {
    -webkit-animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

*:focus {
    outline: transparent none !important;
}

.address_element{
    @apply flex mb-4 border-b pb-4
}

.address_element:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

/*
@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@-webkit-keyframes slide-out-top{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}}@keyframes slide-out-top{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}}@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@-webkit-keyframes slide-out-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}}@keyframes slide-out-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}}@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@-webkit-keyframes fade-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}}@keyframes fade-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}}
*/

.table {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
}
.table .tr {
    display: flex;
}
.table .td {
    padding: 1rem;
    flex-grow: 0;
}
.table .thead {
    color: #000;
    font-weight: 700;
}
.table .thead .td {
    background-color: #f1f5f8;
}
.table .tbody .td {
    background-color: #f8fafc;
}
.table.striped .tbody .tr:nth-of-type(even) .td {
    background-color: #fff;
}
.table.hovered .tbody .tr:hover .td {
    background-color: #f1f5f8;
}
.table .thead {
    font-weight: 700;
}
.table .thead .tr .td {
    color: #f1f5f8;
    background-color: #9a4b97;
    text-transform: uppercase;
}
.table .tbody .tr .td {
    background-color: #f8fafc;
}
.table .tr {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}
.table .tr .td {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    word-break: break-word;
    padding: 0.75rem;
}

/* Slide in and slide out */
.slide-in-top {
    -webkit-animation: slide-in-top 700ms cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
    animation: slide-in-top 700ms cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
}
@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
.slide-out-top input:checked ~ *{
    -webkit-animation: slide-out-top 700ms cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: slide-out-top 700ms cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}
@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}


/* Fade in and fade out*/
.fade-in {
    -webkit-animation: fade-in 500ms cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
    animation: fade-in 500ms cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out input:checked ~ *{
    -webkit-animation: fade-out 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: fade-out 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
